<li data-item="{{item}}">
    {{#if crossed}}
        <div class="row">
            <div class="col">
                <span class="BLitem crossed_off">{{item}}</span>
            </div>
            <div class="col">
                <p>( done by {{iuser}} )</p>
            </div>
        </div>
        <input type="text" class="form-control form-control-lg edit" style='display: none;'>
        <div class="form-inline">
            <button type="button" class="btn btn-warning crossItem mx-1" data-id={{iid}} data-newstat="{{crossed}}">
                <i class="material-icons">
                    backspace
                </i>
            Back to list!
            <button type="button" class="btn btn-danger deleteItem mx-1" data-id={{iid}}>
                <i class="material-icons">
                    delete_outline
                </i>
            Remove
            </button>
        </div>
    {{else}}
        <span class="BLitem">{{item}}</span>
        <input type="text" class="form-control form-control-lg edit" style='display: none;'>
        <div class="form-inline">
            <input type="text" class="form-control form-control-lg mx-1 newUser" placeholder="Enter your name here">
            <button type="button" class="btn btn-warning crossItem mx-1" data-id={{iid}} data-newstat="{{crossed}}">
                <i class="material-icons">
                    done_outline
                </i>
            cross off 
            </button>
            <button type="button" class="btn btn-danger deleteItem mx-1" data-id={{iid}}>
                <i class="material-icons">
                    delete_outline
                </i>
            Remove
            </button>
        </div>
    {{/if}}
</li>